# Dependencies
node_modules/
.pnp
.pnp.js

# Production / Build outputs
dist/
build/
coverage/

# Environment files
.env
.env.local
.env.development.local
.env.test.local
.env.production.local

# Backend uploads
backend/uploads/*
!backend/uploads/.gitkeep
uploads/*
!uploads/.gitkeep

# Hardhat artifacts & cache
contracts/cache/
contracts/artifacts/
contracts/typechain-types/

# Vercel & IDE
.vercel/
.idea/
.vscode/
*.suo
*.ntvs*
*.njsproj
*.sln
*.sw?

# OS Files
.DS_Store
Thumbs.db

# Logs
logs
*.log
npm-debug.log*
yarn-debug.log*
yarn-error.log*
